[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "preferably"]
	path = preferably
	url = https://github.com/amirmasoudabdol/preferably
